<div class="oeuvre">

	<div class="oeuvre-texte">
		<p class="oeuvre-titre">LA MEMOIRE GRAVEE</p>
		<div class="oeuvre-texte-content">
			<p>The painter Isaac Celnikier lives and works in
				Paris, but makes long visits to Israel.
				He was born in Warsaw in may 8th 1923, died at
				Ivry-sur-Seine november 11th 2011. When the war
				started in 1939, he was a youth of sixteen. The
				terrible years of persecution found him in the ghetto
				of Bialystok, from which he was deported to the hell
				of Auschwitz. He survived. But the horrors of
				Auschwitz left a deep mark on his personality and
				his art. After the war he remained for some time in
				Poland. Studied art in Prague. In 1957, he left
				Poland and settled down in Paris.</p>
				<p>In 1967, he received the important prize -
					Chevalier des Arts et des Lettres - from the French
					government. He received the Shoah Memory prize
					from Fondation Jacob Buchman in 1993.</p>
					<p>The artist's spiritual strength is not only
						expressed in the denunciation of the tragic past of
						his people, but also in his adaptation to life. His
						works include paintings, watercolors, drawings and
						etchings. His paintings of "Montmartre," the beauty
						of the "Judean Hills" and a "Day of Khamsin" are
						beautiful and strong portraits of these subjects.</p>
					</div>
				</div>

				<div class="oeuvre-oeuvre">
					<div class="oeuvre-img"><img src="/assets/images/memoire-gravee-1.jpg"></div>
					<div class="oeuvre-num">1</div>
					<div class="oeuvre-titre">Titre de l'oeuvre</div>
					<div class="oeuvre-details"><p>1971-1982<br>gravure,eau-forte<br>40x33cm</p></div>
				</div>




			</div>